$animation-distance: 100px !default;

@media screen {
  html:not(.no-js) {
    [data-animation^='fade'][data-animation^='fade'] {
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: 1s;

      &.animated {
        opacity: 1;
        transform: none;
      }
    }

    [data-animation='fade-up'] {
      transform: translate3d(0, $animation-distance, 0);
    }

    [data-animation='fade-down'] {
      transform: translate3d(0, -$animation-distance, 0);
    }

    [data-animation='fade-right'] {
      transform: translate3d(-$animation-distance, 0, 0);
    }

    [data-animation='fade-left'] {
      transform: translate3d($animation-distance, 0, 0);
    }
  }
}

[data-animation] {
  @for $i from 1 through 60 {
    &[data-animation-duration='#{$i * 50}'] {
      transition-duration: #{$i * 50}ms !important;
    }

    &[data-animation-delay='#{$i * 50}'] {
      transition-delay: 0s;

      &.animated {
        transition-delay: #{$i * 50}ms;
      }
    }
  }
}
